.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
.env
docs_build
site_build
venv
docs.zip
archive.zip

# temp files
/files

# console
nohup.out

# vim temporary files
*~
.*.sw?
.cache

# macOS
.DS_Store

# Pinecone
.pinecone

# logs
logs/

.streamlit/
id_and_tag/.env.id
id_and_tag/requirements.txt
id_and_tag/streamlit_app.py
id_and_tag/streamlit_test_prompt.py
load_test.py
